Tempus issue

I seem to get the following error when trying to read historic logs:

```
[Sun Apr 19 2015 09:49:40 GMT-0700 (PDT)] ERROR Error: Cannot parse '2015-04-18T-7:28:03.301-0700' with 'ISODate,ISO,RFC3339,COOKIE,RFC822,RFC850,RFC1036,RFC1123,RFC2822,RSS,W3C,Locale,GMT,NCC1701'
  at Tempus.SD (/opt/opsbot/node_modules/hubot-simple-logger/node_modules/tempus/tempus.js:1070:23)
  at Tempus.set (/opt/opsbot/node_modules/hubot-simple-logger/node_modules/tempus/tempus.js:334:45)
  at new Tempus (/opt/opsbot/node_modules/hubot-simple-logger/node_modules/tempus/tempus.js:75:18)
  at parse_events (/opt/opsbot/node_modules/hubot-simple-logger/src/scripts/hubot-simple-logger.coffee:67:13, <js>:98:22)
  at ReadStream.<anonymous> (/opt/opsbot/node_modules/hubot-simple-logger/src/scripts/hubot-simple-logger.coffee:90:9, <js>:123:7)
  at ReadStream.EventEmitter.emit (events.js:117:20)
  at _stream_readable.js:919:16
  at process._tickCallback (node.js:419:13)
```